extends layout

block content 
    .card.bg-dark.text-white.rounded-0
        img.card-img(src='img/30.jpg', alt='Card image')
        .card-img-overlay
    .sections 
        .section.px-2
            .section-wrapper
                .section-title
                    p title
                .section-body
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt eros eros. Praesent tincidunt convallis ipsum sit amet aliquet. Vivamus condimentum ultrices orci, nec euismod purus facilisis quis. Nullam ac ultricies dui, ut porta velit. Etiam egestas dictum purus, id mollis ex faucibus eget. Nullam vitae lectus cursus, tincidunt arcu non, consectetur ligula. Cras a libero id leo tempor viverra eget et tellus. Quisque consequat interdum nulla, et malesuada arcu lacinia sit amet. Sed in finibus erat. Etiam quis ex euismod, vestibulum eros in, semper leo. 
        .section.px-2
            .section-wrapper
                .section-title
                    p title
                .section-body
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt eros eros. Praesent tincidunt convallis ipsum sit amet aliquet. Vivamus condimentum ultrices orci, nec euismod purus facilisis quis. Nullam ac ultricies dui, ut porta velit. Etiam egestas dictum purus, id mollis ex faucibus eget. Nullam vitae lectus cursus, tincidunt arcu non, consectetur ligula. Cras a libero id leo tempor viverra eget et tellus. Quisque consequat interdum nulla, et malesuada arcu lacinia sit amet. Sed in finibus erat. Etiam quis ex euismod, vestibulum eros in, semper leo. 
        .section.px-2
            .section-wrapper
                .section-title
                    p title
                .section-body
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt eros eros. Praesent tincidunt convallis ipsum sit amet aliquet. Vivamus condimentum ultrices orci, nec euismod purus facilisis quis. Nullam ac ultricies dui, ut porta velit. Etiam egestas dictum purus, id mollis ex faucibus eget. Nullam vitae lectus cursus, tincidunt arcu non, consectetur ligula. Cras a libero id leo tempor viverra eget et tellus. Quisque consequat interdum nulla, et malesuada arcu lacinia sit amet. Sed in finibus erat. Etiam quis ex euismod, vestibulum eros in, semper leo.  
        .section.px-2
            .section-wrapper
                .section-title
                    p title
                .section-body
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt eros eros. Praesent tincidunt convallis ipsum sit amet aliquet. Vivamus condimentum ultrices orci, nec euismod purus facilisis quis. Nullam ac ultricies dui, ut porta velit. Etiam egestas dictum purus, id mollis ex faucibus eget. Nullam vitae lectus cursus, tincidunt arcu non, consectetur ligula. Cras a libero id leo tempor viverra eget et tellus. Quisque consequat interdum nulla, et malesuada arcu lacinia sit amet. Sed in finibus erat. Etiam quis ex euismod, vestibulum eros in, semper leo. 
