extends layout

block content 
    .card.bg-dark.text-white.rounded-0.border-0
        img.rounded-0.border-0card-img(src='img/hero.jpg', alt='Card image')
        .card-img-overlay
    .sections 
        .section.px-2
            .section-wrapper.container
                .section-title
                    p services
                .section-body
                    .row.my-4
                        .col-md-4
                            .card.rounded.border-0.shadow(style="width: fit-content; background-color: rgb(245, 249, 252);")
                                img.card-img-top(src="img/30.jpg", alt="Card image cap")
                                .card-body
                                    h5.card-title.d-flex.justify-content-center.text-center Card title card title card title
                                    p.card-text.d-flex.justify-content-center.text-center one word
                        .col-md-4
                            .card.rounded.border-0.shadow(style="width: fit-content; background-color: rgb(245, 249, 252);")
                                img.card-img-top(src="img/30.jpg", alt="Card image cap")
                                .card-body
                                    h5.card-title.d-flex.justify-content-center.text-center Card title card title card title
                                    p.card-text.d-flex.justify-content-center.text-center one word
                        .col-md-4
                            .card.rounded.border-0.shadow(style="width: fit-content; background-color: rgb(245, 249, 252);")
                                img.card-img-top(src="img/30.jpg", alt="Card image cap")
                                .card-body
                                    h5.card-title.d-flex.justify-content-center.text-center Card title card title card title
                                    p.card-text.d-flex.justify-content-center.text-center one word
                    .row.my-4
                        .col-md-4
                            .card.rounded.border-0.shadow(style="width: fit-content; background-color: rgb(245, 249, 252);")
                                img.card-img-top(src="img/30.jpg", alt="Card image cap")
                                .card-body
                                    h5.card-title.d-flex.justify-content-center.text-center Card title card title card title
                                    p.card-text.d-flex.justify-content-center.text-center one word
                        .col-md-4
                            .card.rounded.border-0.shadow(style="width: fit-content; background-color: rgb(245, 249, 252);")
                                img.card-img-top(src="img/30.jpg", alt="Card image cap")
                                .card-body
                                    h5.card-title.d-flex.justify-content-center.text-center Card title card title card title
                                    p.card-text.d-flex.justify-content-center.text-center one word
                        .col-md-4
                            .card.rounded.border-0.shadow(style="width: fit-content; background-color: rgb(245, 249, 252);")
                                img.card-img-top(src="img/30.jpg", alt="Card image cap")
                                .card-body
                                    h5.card-title.d-flex.justify-content-center.text-center Card title card title card title
                                    p.card-text.d-flex.justify-content-center.text-center one word
        .section.px-2
            .section-wrapper.container
                .section-title
                    p why choose us
                .section-body
                    .row.qualities
                        .col-md
                            .wrapper
                                .icon 
                                    i.fas.fa-air-freshener.fa-6x
                                .text-content 
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam praesentium commodi in, sint sed saepe ipsum dolorem porro, cumque debitis neque quas maiores.
                        .col-md
                            .wrapper
                                .icon
                                    i.fas.fa-balance-scale.fa-6x
                                .text-content 
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam praesentium commodi in, sint sed saepe ipsum dolorem porro, cumque debitis neque quas maiores.
                    .row.qualities
                        .col-md
                            .wrapper
                                .icon 
                                    i.fas.fa-bezier-curve.fa-6x
                                .text-content 
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam praesentium commodi in, sint sed saepe ipsum dolorem porro, cumque debitis neque quas maiores.
                        .col
                            .wrapper
                                .icon 
                                    i.fas.fa-cloud-meatball.fa-6x
                                .text-content 
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam praesentium commodi in, sint sed saepe ipsum dolorem porro, cumque debitis neque quas maiores.