extends layout

block content 
    .card.bg-dark.text-white.rounded-0
        img.card-img(src='img/30.jpg', alt='Card image')
        .card-img-overlay
    .sections 
        .section
            p motto 
        .section 
            p services 
        .section
            p work schedules 
        .section 
            p contacts